{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block body %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% with _("Login") as submitvalue %}
    {% include "registration/pretty_form.html" %}
{% endwith %}
<p><a href="{% url auth_password_reset %}">{% trans "Forgot" %}</a> {% trans "your password?" %}  <a href="{% url registration_register %}">{% trans "Need an account" %}</a>?</p>

{% endblock %}
